/* General Option */
body {
	font-family: 'Helvetica Neue','Helvetica','Arial',sans-serif;
	font-weight: normal;
}
address {
	font-style:normal;
	font-size:small;
	padding:5px 0px 5px 0px;
}
font#jp {
	font-weight: bold;
}
font#eng {
	font-weight: normal;
}

/* Smart device CSS Option */
@media screen and (min-device-width: 0px) and (max-device-width: 480px) {
	html {
		width: 480px;
		height: 900px;
	}
	body {
		background: #8B82FF;
	}
	div {
		margin: 0 auto;
	}
	div#footer {
		height:42px;
		width: 450px;
		text-align:center;
		background-color:#cccccc;
		border-radius: 0px 0px 10px 10px;
	}
	address {
		font-style:normal;
		font-size:small;
		padding:15px 0px 5px 0px;
	}
	p#space {
		background: #8B82FF;
		width: 480px;
		height: 10px;
		margin: auto 0 auto 0;
		float: left;
	}
	a#toplink {
		text-align: right;
		border: none;
		float: right;
	}
	td {
		background: #8B82FF;
	}
	ul#sp_topnav {
		float: left;
		width: 440px;
		height: 52;
		padding: 0 5px 0 25px;
		list-style: none;
		background: #1b2538;
		border-radius: 20px 20px 20px 20px;
	}
	ul#sp_topnav li {
		text-align: center;
		float: left;
	}
	ul#sp_topnav li a {
		display: block;
		width: 68px;
		padding: 14px 16px;
		text-align: center;
		text-decoration: none;
		background: #1b2538;
		border-radius: 20px 20px 20px 20px;
	}
	ul#sp_topnav li img {
		width: 30px;
		height: 30px;
		padding: 27% 10px 0 0;
	}
	ul#sp_topnav li a.active {
		background-color: #da3c41;
		border-radius: 20px 20px 20px 20px;
	}
	ul#sp_topnav li a:hover:not(.active) {
		background-color: #a9bce2;
		border-radius: 20px 20px 20px 20px;
	}
	ul#pc_topnav, #pc {
		display: none;
	}
	#map {
		margin: 0 auto 0 auto;
		overflow: visible;
		width: 450px;
		height: 600px;
	}
	#sp_serchbox {
		margin: 40px auto 0 auto;
	}
	#sp_serchbox input[type="text"] {
		font-size: 1.3em;
	}
	#sp_serchbox input[type="submit"] {
		border: solid 1px #ccc;
		padding: 5px 30px;
		margin: 10px 10px 0 10px;
		font-family: Arial, sans-serif;
		font-size: 1.3em;
		text-transform: uppercase;
		font-weight: bold;
		color: #333;
		cursor: pointer;
	}
}

/* Desktop CSS Options */
@media screen and (min-device-width: 481px){
	body {
		background: #999999;
		text-align: center;
		width: 1280px;
	}
	div#pagebody {
		width: 1024px;
		margin: 0 auto;
		text-align: center;
	}
	
	#map {
		overflow: visible;
		width: 1024px;
		height: 800px;
	}
	ul#pc_topnav {
		overflow: hidden;
		margin: 0;
		padding: 0;
		list-style-type: none;
		background-color: #1b2538;
	}
	ul#pc_topnav li {
		float: left;
	}
	ul#pc_topnav li a {
		display: block;
		padding: 14px 16px;
		text-align: center;
		text-decoration: none;
		color: white;
	}
	ul#pc_topnav li a:hover:not(.active) {
		background-color: #a9bce2;
	}
	ul#pc_topnav li a.active {
		background-color: #da3c41;
	}
	ul#pc_topnav li.pc_right {
		float: right;
	}
	ul#sp_topnav, #sp, #sp_serchbox {
		display: none;
	}
	#pc img {
		width: 40px;
		height: 40px;
	}
	#pc input[type="text"] {
		font-size: 1em;
	}
	#pc input[type="submit"] {
		border: solid 1px #ccc;
		padding: 5px 30px;
		margin: 0 0 20px;
		font-family: Arial, sans-serif;
		font-size: 1em;
		text-transform: uppercase;
		font-weight: bold;
		color: #333;
		cursor: pointer;
	}
}