
/*============================================
全般的なスタイル
============================================*/
* {
<meta name="viewport" content="width=device-width,initial-scale=1.0">
	margin:0; padding:0; 	/*全要素のマージン・パディングをリセット*/
	line-height:2.0;	/*全要素の行の高さを1.5倍にする*/
	color:#333333;		/*文字色*/

} 
body {
	background-color:#999999;	/*ページ全体の背景色*/
	text-align:center;		/*IE6以下でセンタリングするための対策*/
}
div#pagebody {
	width:450px; margin:0 auto;	/*内容全体をセンタリング*/
	text-align:center;	/*テキストの配置を中央揃えにする*/
	background-image:url("images/bg_pagebody.gif");	/*内容全体の背景*/
	background-repeat:repeat-y;		/*背景画像を縦方向に繰り返す*/
	background-color:#ffffff;		/*内容全体の背景色*/
}

/*============================================
ヘッダ
============================================*/
div#header {
	height:80px;	/*背景画像のサイズに合わせてボックスの高さを指定*/
	background-image:url("images/bg_header.jpg");	/*ヘッダ部分の背景画像*/
	background-repeat:no-repeat;		/*背景画像を繰り返さない*/
	background-color:#ccccfff;		/*ヘッダ部分の背景色*/
}
h1 {
	padding:10px 0px 0px 30px;		/*見出し内容の位置調整*/
	font-family:Arial, Helvetica, sans-serif;	/*フォントの種類*/
}
h1 a {text-decoration:none;} 			/*リンクの下線を無くす*/

/*============================================
メインメニュー
============================================*/
ul.topnav {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #1b2538;
}
ul.topnav li {
	float: left;
}
ul.topnav li a {
	display: block;
	padding: 20px 35px;
	text-align: center;
	text-decoration: none;
	color: white;
}
ul.topnav li a:hover:not(.active) {
	background-color: #a9bce2;
}
ul.topnav li a.active {
	background-color: #da3c41;
}
ul.topnav li.right {
	float: right;
}
@media screen and (max-width: 480px) {
	ul.topnav li.right, ul.topnav li {
		float: none;
	}
}
/*============================================
コンテンツ（中央と右の2カラム全体）
============================================*/
div#content {
	width:480px; margin:10px 20px 10px 0px;	/*幅の指定と位置調整*/
	float:center;				/*2カラム全体を右寄せにする*/
}

/*============================================
ニュース（中央カラム）
============================================*/
div#news {
	width:480px; margin-right:380x; padding-top:100px; /*幅の指定と位置調整*/
	float:center;					/*カラムを中央にする*/
	background-image:url("images/bar_news.gif");	/*中央カラムの背景画像*/
	background-repeat:no-repeat;			/*背景画像を繰り返さない*/
}

/*見出し・段落・水平線のスタイル指定*/
h2 {
	font-size:100%; margin-bottom:10px; padding-left:25px;
	font-size:95%; border-bottom:solid 1px #cccccc;
	background-image:url("images/icon.gif");
	background-repeat:no-repeat; background-position:left center;
}
h3 {font-size:90%; margin-left:5px;}
p {font-size:90%; margin:10px 0px 10px 10px; text-indent:10px;}
hr {height:1px; border:solid 1px #cccccc; margin-bottom:30px;}

/*============================================
フッタ
============================================*/
div#footer {
	height:42px; text-align:center;
	clear:both;					/*回り込みを解除する*/
	background-image:url("images/bg_footer.jpg");	/*フッタ部分の背景画像*/
	background-repeat:no-repeat;			/*背景画像を繰り返さない*/
	background-color:#cccccc;			/*フッタ部分の背景色*/
}
address {
	font-style:normal;			 /*フォントスタイルを標準にする*/
	font-size:small;			 /*フォントサイズを小さくする*/
	padding:5px 0px 5px 0px;		 /*要素内容の位置調整*/
@media screen and (max-width:400px) {
	table {
		min-width: 400px;
	}
	.table_wrap {
		width: 100%;
		overflow-x: scroll;
	}
}
}
